
@font-face {
  font-family: 'IndigoBlue';
  src: url('IndigoBlue.eot?#iefix') format('embedded-opentype'),  url('IndigoBlue.otf')  format('opentype'),
	     url('IndigoBlue.woff') format('woff'), url('IndigoBlue.ttf')  format('truetype'), url('IndigoBlue.svg#IndigoBlue') format('svg');
  font-weight: normal;
  font-style: normal;
}
