
@font-face {
  font-family: 'iCielBC1676ModernMap-Italic';
  src: url('iCielBC1676ModernMap-Italic.eot?#iefix') format('embedded-opentype'),  url('iCielBC1676ModernMap-Italic.woff') format('woff'), url('iCielBC1676ModernMap-Italic.ttf')  format('truetype'), url('iCielBC1676ModernMap-Italic.svg#iCielBC1676ModernMap-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
